<!DOCTYPE html>

<html lang="en">

<head>

<title>About | Grievance System</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="../static/main.css">

<link href='https://fonts.googleapis.com/css?family=Sonsie One' rel='stylesheet'>


<style>
.header {
    
font-family: 'Sonsie One';font-size: 22px;
}

</style>


</head>

<body>


<div class="header">
  
<h1>Grievance Portal</h1>
  
<p><q>cleanliness is next to godliness</q></p>

</div>



<div class="topnav">
  
<a href="login1">Sign  In</a>
  
<a href="register">Sign-up</a>

</div>



<div class="row">
  
<div class="column side">

<a href="homepage"><button class="button button1">Home</button></a><br>

<a href="#"><button class="button button2">Upload</button></a><br>

<a href="#"><button class="button button3">Issues</button></a><br>
<a href="help"><button class="button button6">Help</button></a><br>

</div>
  

<div class="column middle">
    
<center><h2><strong>About US</strong></h2></center>
    
<p>"We the Tech Titans striving hard to implement a very profound platform for the citizens to be concerned about the problems of the city.
This web application helps the citizens to upload the problem in the city which of more concern.
The common people of the city can upvote the problem in order to highlight the problem of the city.
The problem that gets most upvotes is more likely to be displayed at the top of the lists of problems.Hence there could be more chance of getting the most upvoted problem solved."</p><br/>


<h3>PROJECT DONE BY:</h3>
<p>Saikumar.G (15261A05B2)<br/>SK abrar <br/>

 
</div>
</div>
</body>

</html>
