<!DOCTYPE html>

<html lang="en">

<head>
<title>Grievance System</title>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="../static/main.css">


</head>

<body>


<div class="header">

<img src="https://code.swecha.org/Saikirankasireddy/Central-Grievance-app/raw/master/images/aac1608e20879521c28bd08eeceb672b.png" height="100" width="100" align="left">


<h1>Grievance Portal</h1>
  
<p><q>cleanliness is next to godliness</q></p>

</div>

<div class="topnav">
  
<a href="login1">Sign  In</a>
  
<a href="register">Sign-up</a>
</div>



<div class="row">
  
<div class="column side">


<a href="login1"><button class="button button1">login</button></a><br>
    <a href="upload"><button class="button button2">Upload</button></a><br>

    <a href="list"><button class="button button3">Issues</button></a><br>

    <a href="about"><button class="button button4">About</button></a><br>

    <a href="hel"><button class="button button6">Help</button></a><br>

</div>
  

<div class="column middle">
    
<center><h2>Welcome To <strong> Grievance Portal</strong></h2></center>
    <p></p>
    <p></p>
  </div>
 <br>
<br>
<br>
</div>


<div class="footer">
  <p> 2020 </p>
</div>
  
</body>
</html>