<!DOCTYPE html>

<html>

<head>

<link rel="stylesheet" type="text/css" href="../static/sample.css">

<center><h2>GRIEVANCE PORTAL</h2>

<img src="https://i.ytimg.com/vi/j0lbX6yFMtU/hqdefault_live.jpg" style="width:150px;height:150px;"></center>

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>

<center>

<h2>LOGIN FORM</h2>

<form method="post" action='/login1'>

<div class="container">
    
<label for="uname"><b>Login Id</b></label>
    
<input type="text" placeholder="Enter Username" name="username" required><br/>

    
<label for="psw"><b>Password</b></label>
    
<input type="password" placeholder="Enter Password" name="password" required><br/>
        
    
<a href="homepage.html"><button type="submit"> Login</button> </a>
  </div>


<a href="homepage">homepage</a>

<a href="register">Register</a> 

</form>
 </center>
</body>
</html>
